.mt1{
	margin-top:1rem;
}
.input-nickname{
  margin-top:1rem;
  width:100%;
  height:6rem;
  border:none;
  font-size:18px;
  text-indent:2rem;
}
.midButton{
  	width:calc(100% - 4rem);
  	margin:4rem auto 0 auto;
}